
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.top-bar {
  background: linear-gradient(to right, #0a0f1c, #111827);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  font-size: 11px;
  padding: 6px 8px;
}
.top-bar .highlight {
  color: #3b82f6;
}
.navbar {
  background: white;
  border-bottom: 1px solid #eee;
}
.nav-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 6px 10px;
}
.logo-img {
  height: 50px;
  width: auto;
}
.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 10px;

  list-style: none;
  font-size: 12px;
}
.nav-links li {
  white-space: nowrap;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
@media (min-width: 768px) {

.nav-container {
    padding: 15px 40px;
  }
.nav-links {
    display: flex;
    gap: 25px;
    font-weight: 500;
    font-size: 14px;
  }
.nav-links li {
    cursor: pointer;
    white-space: nowrap;
  }


}
